# Created by .ignore support plugin (hsz.mobi)
target/
/logs/
!.mvn/wrapper/maven-wrapper.jar

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

.idea/
*.iws
*.iml
*.ipr

nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

.classpath
.project
.settings/

.DS_Store